<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <div th:if="${error}" class="error" th:text="${error}"></div>
    <form th:action="@{/login}" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="userName" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>
</div>
</body>
</html>